
@{
    ViewBag.Title = "AboutUs";
}


<div class="row">

    <div class="col-md-8">

        <h2 clas="style1"><strong>About Us</strong></h2>

        <div class="text-justify">
           CE SUNTEM NOI SI CE FACEM !!!
        </div>
    </div>

    <div class="col-md-4 BikeImage">
        <img src="~/Content/Images/foodImg.jpg" class="img-responsive">
    </div>

</div>

